@model Category

@{
    IEnumerable<KeyValuePair<string,string>> lstkv = (IEnumerable<KeyValuePair<string,string>>)ViewData["KeyValue"]; 
}
@* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
<div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add Category</h4>
                  <p class="card-category">Add Category Information with utmost Caution. </p>
                </div>
                <div class="card-body">
                  <form method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Category Name</label>
                          <input type="text" class="form-control" asp-for="CategoryName">
                          <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Parent Category Name</label>
                          <select  class="form-control" asp-for="ParentCategoryId">
                              <option value = "-1">NA</option>
                              @if(lstkv != null && lstkv.Count() > 0)
                              {
                                @foreach(KeyValuePair<string,string> kv in lstkv)
                                {
                                    <option value="@kv.Key">@kv.Value</option>
                                }
                              }
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Category Description</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"> Please Specify Relevant Description</label>
                            <textarea class="form-control" rows="5" asp-for="CategoryDesc"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Add</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img class="img" src="../assets/img/faces/marc.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                  <h4 class="card-title">Rahul Singh</h4>
                  <p class="card-description">
                    You have to Think anyways, so why not Think BIG!!!!
                    </p>
                  <a href="javascript:;" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div>
          </div>



@section Scripts
{
  <partial name="_ValidationScriptsPartial"></partial>
}